{
    "workbench.iconTheme": "catppuccin-mocha",
    "files.autoSave": "afterDelay",
    "window.zoomLevel": 3,
    "files.autoSaveWhenNoErrors": true,
    "files.autoSaveWorkspaceFilesOnly": true,
    "terminal.integrated.fontFamily": "MesloLGS NF",
    "workbench.colorCustomizations": {
        "terminal.background": "#18131e",
        "terminal.foreground": "#dd7bdc",
        "terminal.selectionBackground": "#c05cbf",
        "terminal.selectionForeground": "#24242e",
        "terminal.cursorBackground": "#ff65fd",
        "terminal.cursorForeground": "#24242e",
        "terminal.ansiBlack": "#000000",
        "terminal.ansiBlue": "#6964ab",
        "terminal.ansiBrightBlack": "#786d69",
        "terminal.ansiBrightBlue": "#9892f1",
        "terminal.ansiBrightCyan": "#939393",
        "terminal.ansiBrightGreen": "#22e529",
        "terminal.ansiBrightMagenta": "#e90cdd",
        "terminal.ansiBrightRed": "#f41d99",
        "terminal.ansiBrightWhite": "#eeeeee",
        "terminal.ansiBrightYellow": "#f59574",
        "terminal.ansiCyan": "#939393",
        "terminal.ansiGreen": "#41af1a",
        "terminal.ansiMagenta": "#c71fbf",
        "terminal.ansiRed": "#f41d99",
        "terminal.ansiWhite": "#998eac",
        "terminal.ansiYellow": "#f59574"
    },
    "git.confirmSync": false,
    "indentRainbow.indicatorStyle": "light",
    "indentRainbow.lightIndicatorStyleLineWidth": 1,
    "indentRainbow.colors": [
        "rgba(221,123,220,1)", 
        "rgba(34,229,41,1)",  
        "rgba(233,12,221,1)",  
        "rgba(238,238,238,1)",  
        "rgba(245,149,116,1)",  
        "rgba(65,175,26,1)",  
        "rgba(199,31,191,1)",  
        "rgba(244,29,153,1)",  
    ],
    "workbench.colorTheme": "Night Owl"
}